{
	"plugins": ["transform-es2015-destructuring", "transform-es2015-parameters", "transform-es2015-modules-commonjs", "syntax-object-rest-spread", "transform-object-rest-spread", "syntax-async-functions", "transform-async-to-generator"]
}