{
	"plugins": ["transform-es2015-destructuring", "transform-es2015-parameters", "transform-es2015-shorthand-properties", "transform-es2015-modules-commonjs", "syntax-object-rest-spread", "transform-object-rest-spread", "array-includes", "syntax-async-functions", "transform-async-to-generator", "transform-class-properties", "transform-es2015-for-of", "transform-es2015-arrow-functions"]
}